<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Feeds Reader</title>
    <link rel="stylesheet" href="{% static 'feed_reader_app/index.css' %}">

  </head>
  <body>
    <div class="d-flex flex-column mt-4">
      <form id="item_number" method="GET" class="">
        <div class="d-flex flex-row">
          <select name="paginate_by" class="mr-1 p-0">
            <option value="">Select ...</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </select>
          <p class="m-0">items per page</p>
        </div>
        <input class="btn btn-info mt-2" type="submit" value="Apply">
      </form>
      {% block content %}<!-- default content text (typically empty) -->{% endblock %}
    </div>
  </body>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
