<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Feeds Reader</title>
    <link rel="stylesheet" href="{% static 'feed_reader_app/index.css' %}">

  </head>
  <body>
    <div class="d-flex flex-column">
      <img src="{% static 'feed_reader_app/header.png' %}" alt="Feed Reader Header">
      <div class="d-flex flex-row">
        show x column
      </div>
      {% block content %}<!-- default content text (typically empty) -->{% endblock %}
    </div>
  </body>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
