{% extends "feed_reader_app/index.html" %}

{% block content %}
  <div id="block_content" class="d-flex flex-column">
    {% if item_list %}
    <ul>
      {% for item in item_list %}
        <li class="mb-4 mt-4 item shadow p-4">
          <div class="d-flex justify-content-between mb-1">
            <b>{{ item.title }}</b>
            <i>{{ item.published }}</i>
          </div>
          <a href={{ item.link }}>{{ item.link }}</a>
          <div class="summary mt-3">{{ item.summary|safe }}</div>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no Items to show.</p>
    {% endif %}

    {% load my_tags %}
    {% if is_paginated %}

    <div class="pagination align-self-center mb-5">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?{% param_replace page=1 %}">First</a>
          {% if page_obj.previous_page_number != 1 %}
            <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
          {% endif %}
        {% endif %}

        Page {{ page_obj.number }} of {{ paginator.num_pages }}

        {% if page_obj.has_next %}
          {% if page_obj.next_page_number != paginator.num_pages %}
            <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
          {% endif %}
          <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
        {% endif %}
      </span>
    </div>
    {% endif %}

  </div>
{% endblock %}
